<div class="wrapper">

  <div *ngIf="_cookieService.check('role')" >
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <footer-cmp></footer-cmp>
    </div>
  </div>
<div *ngIf="! _cookieService.check('role')">
      <app-club></app-club>
</div>



</div>
<fixedplugin-cmp></fixedplugin-cmp>
